.App {
  text-align: center;
  background-image: linear-gradient(white, lightblue);
  background-size: cover;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 ;
  padding: 20px;
  background: lightskyblue;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
}
nav a:hover {
  color: rgb(229, 226, 226);
}

.SmurfForm {
  margin: 20px;
}
.SmurfForm input {
  margin: 5px;
  padding: 6px;
  border: solid 2px lightblue;
  border-radius: 5px;
}
.SmurfForm button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: lightskyblue;
  color: white;
}
.SmurfForm button:hover {
  color: rgb(229, 226, 226);
}

ul {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
ul h1 {
  text-decoration: underline;
  color: rgb(58, 179, 255);
}

li {
  width: 200px;
  border: solid white;
  color: gray;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-image: linear-gradient(white 1%, lightskyblue)
}